sb-rest-soap/sb-rest-soap-dto/src/main/resources/hello-world.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="HelloWorld"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  targetNamespace="http://codenotfound.com/services/helloworld"
  xmlns:tns="http://codenotfound.com/services/helloworld"
  xmlns:types="http://codenotfound.com/types/helloworld">

  <wsdl:types>
    <xsd:schema targetNamespace="http://codenotfound.com/types/helloworld"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
      attributeFormDefault="unqualified" version="1.0">

      <xsd:element name="person">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="firstName" type="xsd:string" />
            <xsd:element name="lastName" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="greeting">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="greeting" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
	<xsd:element name="getStudentByIdRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="id" type="xsd:int" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
      
	<xsd:element name="StudentDetails">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="id" type="xsd:int" />
				<xsd:element name="name" type="xsd:string" />
				<xsd:element name="passportNumber" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
      
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="SayHelloInput">
    <wsdl:part name="person" element="types:person" />
  </wsdl:message>

  <wsdl:message name="SayHelloOutput">
    <wsdl:part name="greeting" element="types:greeting" />
  </wsdl:message>
  

  <wsdl:message name="GetStudentByIdInput">
    <wsdl:part name="getStudentByIdRequest" element="types:getStudentByIdRequest" />
  </wsdl:message>

  <wsdl:message name="GetStudentByIdOutput">
    <wsdl:part name="studentDetails" element="types:StudentDetails" />
  </wsdl:message>

  <wsdl:portType name="HelloWorld_PortType">
    <wsdl:operation name="sayHello">
      <wsdl:input message="tns:SayHelloInput" />
      <wsdl:output message="tns:SayHelloOutput" />
    </wsdl:operation>
    <wsdl:operation name="getStudentById">
      <wsdl:input message="tns:GetStudentByIdInput" />
      <wsdl:output message="tns:GetStudentByIdOutput" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="HelloWorld_SoapBinding" type="tns:HelloWorld_PortType">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sayHello">
      <soap:operation soapAction="http://codenotfound.com/services/helloworld/sayHello" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudentById">
      <soap:operation soapAction="http://codenotfound.com/services/helloworld/getStudentById" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="HelloWorld_Service">
    <wsdl:documentation>Hello World service</wsdl:documentation>
    <wsdl:port name="HelloWorld_Port" binding="tns:HelloWorld_SoapBinding">
      <soap:address location="http://localhost:8080/ws/helloworld" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>