sb-rest-soap/sb-rest-soap-dto/src/main/resources/students.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="Students"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://webservice.api.sb/soap"
	xmlns:tns="http://webservice.api.sb/soap"
	xmlns:types="http://webservice.api.sb/soap">

	<wsdl:types>
		<xsd:schema
			targetNamespace="http://webservice.api.sb/soap"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			attributeFormDefault="unqualified"
			version="1.0">
			
			<xsd:import namespace="http://webservice.api.sb/soap" schemaLocation="students.xsd"/>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="GetStudentByIdInput">
		<wsdl:part name="getStudentByIdRequest" element="types:GetStudentByIdRequest" />
	</wsdl:message>

	<wsdl:message name="GetStudentByIdOutput">
		<wsdl:part name="getStudentByIdResponse" element="types:GetStudentByIdResponse" />
	</wsdl:message>

	<wsdl:message name="SearchStudentsInput">
		<wsdl:part name="searchStudentsRequest" element="SearchStudentsRequest" />
	</wsdl:message>

	<wsdl:message name="SearchStudentsOutput">
		<wsdl:part name="searchStudentsResponse" element="types:SearchStudentsResponse" />
	</wsdl:message>

	<wsdl:message name="CreateStudentInput">
		<wsdl:part name="createStudentRequest" element="CreateStudentRequest" />
	</wsdl:message>

	<wsdl:message name="CreateStudentOutput">
		<wsdl:part name="createStudentResponse" element="types:CreateStudentResponse" />
	</wsdl:message>

	<wsdl:message name="UpdateStudentNameInput">
		<wsdl:part name="updateStudentNameRequest" element="UpdateStudentNameRequest" />
	</wsdl:message>

	<wsdl:message name="UpdateStudentNameOutput">
		<wsdl:part name="updateStudentNameResponse" element="types:UpdateStudentNameResponse" />
	</wsdl:message>

	<wsdl:message name="DeleteStudentInput">
		<wsdl:part name="deleteStudentRequest" element="DeleteStudentRequest" />
	</wsdl:message>

	<wsdl:message name="DeleteStudentOutput">
		<wsdl:part name="deleteStudentResponse" element="types:DeleteStudentResponse" />
	</wsdl:message>

	<wsdl:portType name="Students_PortType">
		<wsdl:operation name="getStudentById">
			<wsdl:input message="tns:GetStudentByIdInput" />
			<wsdl:output message="tns:GetStudentByIdOutput" />
		</wsdl:operation>
		<wsdl:operation name="search">
			<wsdl:input message="tns:SearchStudentsInput" />
			<wsdl:output message="tns:SearchStudentsOutput" />
		</wsdl:operation>
		<wsdl:operation name="create">
			<wsdl:input message="tns:CreateStudentInput" />
			<wsdl:output message="tns:CreateStudentOutput" />
		</wsdl:operation>
		<wsdl:operation name="updateName">
			<wsdl:input message="tns:UpdateStudentNameInput" />
			<wsdl:output message="tns:UpdateStudentNameOutput" />
		</wsdl:operation>
		<wsdl:operation name="delete">
			<wsdl:input message="tns:DeleteStudentInput" />
			<wsdl:output message="tns:DeleteStudentOutput" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="Students_SoapBinding" type="tns:Students_PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getStudentById">
			<soap:operation soapAction="http://webservice.api.sb/soap/getStudentById" />
			<wsdl:input><soap:body use="literal" /></wsdl:input>
			<wsdl:output><soap:body use="literal" /></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="search">
			<soap:operation soapAction="http://webservice.api.sb/soap/search" />
			<wsdl:input><soap:body use="literal" /></wsdl:input>
			<wsdl:output><soap:body use="literal" /></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="create">
			<soap:operation soapAction="http://webservice.api.sb/soap/create" />
			<wsdl:input><soap:body use="literal" /></wsdl:input>
			<wsdl:output><soap:body use="literal" /></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateName">
			<soap:operation soapAction="http://webservice.api.sb/soap/updateName" />
			<wsdl:input><soap:body use="literal" /></wsdl:input>
			<wsdl:output><soap:body use="literal" /></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<soap:operation soapAction="http://webservice.api.sb/soap/delete" />
			<wsdl:input><soap:body use="literal" /></wsdl:input>
			<wsdl:output><soap:body use="literal" /></wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Students_Service">
		<wsdl:documentation>Students service</wsdl:documentation>
		<wsdl:port name="Students_Port" binding="tns:Students_SoapBinding">
			<soap:address location="http://localhost:8080/ws/students" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>